.container
  .card.card-container
    %p
      テストユーザーとしてログインできます
    = form_for(:session, url: login_path) do |f|
      = f.hidden_field :email, value: "test_user@example.com", id: "hiddden_email"
      = f.hidden_field :password, value: "test1234", id: "hidden_password"
      = f.submit "お試しログイン", class: "btn btn-info btn-block demo-btn mt-3 mb-2 mx-auto"
  .card.card-container
    = image_tag "logo.png", size: "200x55", class: "mx-auto"
    = link_to  '/auth/twitter', class: "btn btn-twitter mt-4" do
      = icon("fab", "twitter", class: "mr-1")
      %span Twitterでログイン
    .divide-text-login または
    = form_for(:session, url: login_path) do |f|
      = f.email_field :email, required: true, class: "form-control placeholder mt-4 mb-4", placeholder: "メールアドレス", value: "#{@email}"

      = f.password_field :password, required: true, class: "form-control placeholder mb-3", placeholder: "パスワード"

      = f.label :remember_me, class: "checkbox inline mb-4" do
        = f.check_box :remember_me
        %span.ml-1.remember-text 次回から自動でログインする

      = f.submit "ログイン", class: "btn btn-success btn-block mt-2"
      = link_to "パスワードをお忘れの場合", new_password_reset_path, class: "invite-text"
      = link_to "アカウントを持っていない場合", signup_path, class: "invite-text"
