.container
  .card.card-container
    = image_tag "logo.png", size: "200x55", class: "mx-auto"
    = form_for(:session, url: login_path) do |f|
      = f.email_field :email, class: "form-control placeholder mt-5 mb-4", placeholder: "メールアドレス"

      = f.password_field :password, class: "form-control placeholder mb-3", placeholder: "パスワード"

      = f.label :remember_me, class: "checkbox inline mb-4" do
        = f.check_box :remember_me
        %span.ml-1 次回から自動でログインする

      = f.submit "ログイン", class: "btn btn-success btn-block mt-2"
      = link_to "パスワードをお忘れの場合", new_password_reset_path, class: "invite-text"
      %br
      = link_to "Twitterアカウントでログイン", '/auth/twitter'
