.container.password-reset-wrapper
  .row
    .col-sm-10.offset-sm-1
      %h2.heading
        パスワードを変更する
      %p
        新しいパスワードを入力してください
      = form_for(@user, url: password_reset_path(params[:id])) do |f|
        = render "shared/error_messages", object: f.object

        = hidden_field_tag :email, @user.email

        = f.password_field :password, class: "form-control placeholder my-4", placeholder: "パスワード（６文字以上）"

        = f.password_field :password_confirmation, class: "form-control placeholder mb-4", placeholder: "パスワード（確認のためにもう一度入力してください）"

        = f.submit "パスワードを変更する", class: "btn btn-primary"
