.container.makes-new-wrapper
  .jumbotron.mt-5.text-center
    = link_to "javascript:void(0);", onclick: "history.back()", class: "back-icon" do
      = icon("fa", "arrow-left")
    %p.lead
      その習慣をついやってしまうのはどのような状況ですか？
      %br
      すぐに思いつかなかったら数日生活してみて、やってしまう状況を記録してみましょう

    = form_for(:quit, url: quits_new_3_path, method: :get) do |f|
      = f.hidden_field :title, value: @title
      = f.submit "次へ", class: "btn btn-info mt-5"
