.container.makes-new-wrapper
  .jumbotron.mt-5.text-center
    = link_to "javascript:void(0);", onclick: "history.back()", class: "back-icon" do
      = icon("fa", "arrow-left")
    %p.lead
      やめたい習慣を代わりの行動におきかえて１つ目の自分ルールを作ります。
      %br
      「やってしまう状況になったら代わりの行動をする」という形で作ってみましょう。
      %br
      代わりの行動はやめたい習慣と同時にはできないものにしてください。

    = form_for(:quit, url: quits_new_5_path, method: :get) do |f|
      = f.hidden_field :title, value: @title
      = f.hidden_field :situation, value: @situation
      = f.submit "次へ", class: "btn btn-info mt-5"
