.container.quits-new-wrapper
  .jumbotron.mt-5.text-center
    = link_to "javascript:void(0);", onclick: "history.back()", class: "back-icon" do
      = icon("fa", "arrow-left")
    %p.lead
      下のフォームを編集して１つ目の自分ルールを作成してください。
      %br
      ex）自分の部屋で暇になったら本を読む

    = form_for(:quit, url: quits_new_6_path, method: :get) do |f|
      = f.hidden_field :title, value: @title
      = f.text_area :rule1, required: true, maxlength: 255, class: "form-control mt-5", value: "#{@situation}"

      = f.submit "次へ", class: "btn btn-info mt-5"
