.container.quits-new-wrapper.text-center
  = render "shared/stepbar", step: 4, type: "quit"
  .jumbotron
    = link_to "javascript:void(0);", onclick: "history.back()", class: "back-icon" do
      = icon("fa", "arrow-left")
    %p.lead
      ２つ目の自分ルールを作成してください。
      %br
      ex) スマホからアプリを消してYouTubeはパソコンで見るようにする

    = form_for(:quit, url: quits_path) do |f|
      = f.hidden_field :title, value: @title
      = f.hidden_field :rule1, value: @rule1
      = f.text_area :rule2, required: true, maxlength: 255, class: "form-control mt-5 placeholder",
                            placeholder: "やめたい習慣を簡単にはできないようにする自分ルールを作成してください"

      = f.submit "完成！", class: "btn btn-info mt-5"

  %a.hint-text.d-inline-block.mt-3.mb-5{"data-toggle" => "modal", "href" => "#quitHintModal2"}
    ルール作成のヒント

  #quitHintModal2.modal.fade{"tab-index" => "-1", "role" => "dialog", "aria-labelledby" => "quitHintModal2Label", "aria-hidden" => "true"}
    .modal-dialog.modal-dialog-centered{"role" => "document"}
      .modal-content.text-justify
        .modal-header
          %h5.m-0.modal-titel#quitHintModal2Title ヒント
          %button.close{"type" => "button", "data-dismiss" => "modal", "aria-label" => "閉じる"}
            %span{"aria-hidden" => "true"} &times;
        .modal-body
          %p
            &emsp;すでに習慣化されている行動はほとんどが簡単にはじめられるものではないでしょうか？もし間食をやめたいと思っていても、常に家にお菓子が置いてある状況で我慢するのは非常に難しいです。
          %p
            &emsp;やりたくても簡単にはじめられない状況を作ることで、その欲求をやり過ごし、面倒さが上回るような仕組みを作ります。
          %p
            ・間食してしまう→ストックをやめて毎回コンビニに買いにいく
            %br
            ・ネットで衝動買いしてしまう→支払い情報や住所を毎回自分で入力する
