.container.quits-new-wrapper.text-center
  = render "shared/stepbar", step: 3, type: "quit"
  .jumbotron
    = link_to "javascript:void(0);", onclick: "history.back()", class: "back-icon" do
      = icon("fa", "arrow-left")
    %p.lead
      下のフォームを編集して１つ目の自分ルールを作成してください。
      %br
      ex）自分の部屋で暇になったら本を読む

    = form_for(:quit, url: quits_new_6_path, method: :get) do |f|
      = f.hidden_field :title, value: @title
      = f.text_area :rule1, required: true, maxlength: 255, class: "form-control mt-5 placeholder", value: "#{@situation}",
                            placeholder: "「やってしまう状況になったら代わりの行動をする」という形で自分ルールを作成してください"

      = f.submit "次へ", class: "btn btn-info mt-5"

  %a.hint-text.d-inline-block.mt-3.mb-5{"data-toggle" => "modal", "href" => "#quitHintModal1"}
    ルール作成のヒント

  #quitHintModal1.modal.fade{"tab-index" => "-1", "role" => "dialog", "aria-labelledby" => "quitHintModal1Label", "aria-hidden" => "true"}
    .modal-dialog.modal-dialog-centered{"role" => "document"}
      .modal-content.text-justify
        .modal-header
          %h5.m-0.modal-titel#quitHintModal1Title ヒント
          %button.close{"type" => "button", "data-dismiss" => "modal", "aria-label" => "閉じる"}
            %span{"aria-hidden" => "true"} &times;
        .modal-body
          %p
            &emsp;１度はじめてしまった事を自分の意志の力でやめるのは非常に難しいです。なので、すでにある習慣をやめるためには「その行動をやりはじめないようにすること」が大切です。
          %p
            &emsp;そのために有効なのが「習慣を別の行動におきかえる」ことです。「普段だったらやめたい習慣をやってしまう状況になったら、代わりの行動をやる」というルールを作ることで意志の力に頼らずにやめることを目指します。
          %p
            ・タバコを吸ってしまう→ガムを噛む
            %br
            ・ジュースを飲んでしまう→お茶を飲む
            %br
            のように同時にはできない行動におきかえてみましょう。
