.container.quits-show-wrapper.text-center
  .jumbotron.mt-5.mx-auto.p-0
    %section.title.border-bottom.px-3
      %p.section-title やめたい習慣
      %p.content
        = @quit.title
    %section.rule1.border-bottom.px-3
      %p.section-title ルール①
      %p.content
        = @quit.rule1
    %section.rule2.border-bottom.px-3
      %p.section-title ルール②
      %p.content
        = @quit.rule2
    %section.date.border-bottom.px-3
      %p.section-title 作成日
      %p.content
        = @quit.created_at.strftime('%Y/%m/%d')
    %section.px-3
      %p.section-title 進捗
      .progressRange
        = form_for(@quit, remote: true) do |f|
          = f.range_field :progress, min: 0, max: 100, step: 1, value: @quit.progress, onchange: 'Rails.fire(this.form, "submit")'
          %span
            = "#{@quit.progress}%"

  = link_to "削除する", habit_path(@quit), method: :delete, class: "text-center delete-rule", data: { confirm: "このルールを削除しますか？" }
