.container.quits-new-wrapper
  = render "shared/stepbar", step: 2, type: "quit"
  .jumbotron.text-center
    = link_to "javascript:void(0);", onclick: "history.back()", class: "back-icon" do
      = icon("fa", "arrow-left")
    %p.lead
      ついやってしまう状況を入力してください

    = form_for(:quit, url: quits_rule1_description_path, method: :get) do |f|
      = f.hidden_field :title, value: @title
      = f.text_field :situation, required: true, maxlength: 150, class: "form-control mt-5 placeholder",
                                  placeholder: "ex）自分の部屋で暇になったとき"

      = f.submit "次へ", class: "btn btn-info mt-5"
