.container.quits-new-wrapper
  = render "shared/stepbar", step: 1, type: "quit"
  .jumbotron.text-center
    = link_to "javascript:void(0);", onclick: "history.back()", class: "back-icon" do
      = icon("fa", "arrow-left")
    %p.lead
      質問に答えながら２つの自分ルールを作成していきます。
      %br
      やめたい習慣はなんですか？

    = form_for(:quit, url: quits_new_2_path, method: :get) do |f|
      = f.text_field :title, required: true, maxlength: 255, class: "form-control mt-5 placeholder", placeholder: "ex）ついYouTubeを見てしまう"

      = f.submit "次へ", class: "btn btn-info mt-5"
