.container.makes-new-wrapper
  .jumbotron.mt-5.text-center
    = link_to "#", onclick: "history.back()", class: "back-icon" do
      = icon("fa", "arrow-left")
    %p.lead
      作りたい習慣はなんですか？

    = form_for(:make, url: makes_new_2_path, method: :get) do |f|
      = f.text_field :title, required: true, maxlength: 100, class: "form-control mt-5", placeholder: "ex) 運動"

      = f.submit "次へ", class: "btn btn-info mt-5"
