.container
  %p
    まずは１回のノルマを決めましょう
  %p
    最初はバカバカしいほど簡単なことから始めることがコツです

  = form_for(:make, url: makes_new_3_path, method: :get) do |f|
    = f.hidden_field :title, value: @title
    = f.text_area :norm, required: true, maxlength: 150, class: "form-control", placeholder: "１回腕立て伏せをする"

    = link_to "戻る", "#", onclick: "history.back()", class: "btn btn-warning"
    = f.submit "次へ", class: "btn btn-info"
