.container.makes-new-wrapper
  .jumbotron.mt-5.text-center
    = link_to "#", onclick: "history.back()", class: "back-icon" do
      = icon("fa", "arrow-left")

    %p.lead
      ノルマを入力してください

    = form_for(:make, url: makes_new_4_path, method: :get) do |f|
      = f.hidden_field :title, value: @title
      = f.text_field :norm, required: true, maxlength: 150, class: "form-control mt-5", placeholder: "ex) １回スクワットをする"

      = f.submit "次へ", class: "btn btn-info mt-5"
