.container.makes-new-wrapper
  .jumbotron.mt-5.text-center
    = link_to "#", onclick: "history.back()", class: "back-icon" do
      = icon("fa", "arrow-left")
    %p.lead
      すでにある習慣をノルマを結びつけて１つ目のルールを作ります。
      %br
      「〜をしたら、ノルマを行う」という形で作ってみましょう。

    = form_for(:make, url: makes_new_5_path, method: :get) do |f|
      = f.hidden_field :title, value: @title
      = f.hidden_field :norm, value: @norm
      = f.submit "次へ", class: "btn btn-info mt-5"
