.container.makes-new-wrapper
  .jumbotron.mt-5.text-center
    = link_to "#", onclick: "history.back()", class: "back-icon" do
      = icon("fa", "arrow-left")

    %p.lead
      下のフォームを編集して１つ目の自分ルールを作成してください。
      %br
      ex) 夕飯を食べ終わったら１回スクワットをする。

    = form_for(:make, url: makes_new_6_path, method: :get) do |f|
      = f.hidden_field :title, value: @title
      = f.text_area :rule1, required: true, maxlength: 255, class: "form-control mt-5", value: "#{@norm}"

      = f.submit "次へ", class: "btn btn-info mt-5"
