.container.makes-new-wrapper
  .jumbotron.mt-5.text-center
    = link_to "#", onclick: "history.back()", class: "back-icon" do
      = icon("fa", "arrow-left")
    %p.lead
      挫折しそうになる状況を入力してください。

    = form_for(:make, url: makes_new_8_path, method: :get) do |f|
      = f.hidden_field :title, value: @title
      = f.hidden_field :rule1, value: @rule1
      = f.text_area :situation, required: true, maxlength: 150, class: "form-control", placeholder: "ex) 疲れて眠い"

      = f.submit "次へ", class: "btn btn-info mt-5"
