.container.makes-new-wrapper.text-center
  .jumbotron.mt-5
    = link_to "javascript:void(0);", onclick: "history.back()", class: "back-icon" do
      = icon("fa", "arrow-left")
    %p.lead
      下のフォームを編集して２つ目の自分ルールを作成してください。
      %br
      ex) めんどくさいと思ったら太ってる自分の写真を見返す

    = form_for(:make, url: makes_path) do |f|
      = f.hidden_field :title, value: @title
      = f.hidden_field :rule1, value: @rule1
      = f.text_area :rule2, required: true, maxlength: 255, class: "form-control mt-5", value: "#{@situation}"

      = f.submit "完成！", class: "btn btn-info mt-5"

  %a.hint-text.d-inline-block.mt-3.mb-5{"data-toggle" => "modal", "href" => "#makeHintModal2"}
    ルール作成のヒント

  #makeHintModal2.modal.fade{"tab-index" => "-1", "role" => "dialog", "aria-labelledby" => "makeHintModal2Label", "aria-hidden" => "true"}
    .modal-dialog.modal-dialog-centered{"role" => "document"}
      .modal-content
        .modal-header
          %h5.m-0.modal-titel#makeHintModal2Title ヒント
          %button.close{"type" => "button", "data-dismiss" => "modal", "aria-label" => "閉じる"}
            %span{"aria-hidden" => "true"} &times;
        .modal-body.text-justify
          %p
            &emsp;「どうしても時間がない」「どうしても疲れて眠い」というような状況では、無理にノルマをやるよりも代わりにやる日を決める方が有効です。
            %br
            ex) 「疲れて眠い場合は、寝てしまって次の日の朝起きたらすぐにノルマをやる。」
