.container.makes-new-wrapper
  .jumbotron.mt-5.text-center
    = link_to "#", onclick: "history.back()", class: "back-icon" do
      = icon("fa", "arrow-left")
    %p.lead
      下のフォームを編集して２つ目の自分ルールを作成してください。
      %br
      ex)めんどくさいと思ったら太ってる自分の写真を見返す。

    = form_for(:make, url: makes_path) do |f|
      = f.hidden_field :title, value: @title
      = f.hidden_field :rule1, value: @rule1
      = f.text_area :rule2, required: true, maxlength: 255, class: "form-control", value: "#{@situation}"

      = f.submit "次へ", class: "btn btn-info mt-5"
