.container.makes-new-wrapper
  .jumbotron.mt-5.text-center
    = link_to "javascript:void(0);", onclick: "history.back()", class: "back-icon" do
      = icon("fa", "arrow-left")
    %p.lead
      次に挫折しそうになった時の対策を考えましょう。
      %br
      どのような行動や考え方をすればその状況を克服できますか？
      %br
      「挫折しそうな状況になったら、対策を行う」という形で２つ目の自分ルールを作成してください。
    
    = form_for(:make, url: makes_rule2_input_path, method: :get) do |f|
      = f.hidden_field :title, value: @title
      = f.hidden_field :rule1, value: @rule1
      = f.hidden_field :situation, value: @situation
      = f.submit "次へ", class: "btn btn-info mt-5"
