.container.makes-new-wrapper
  .jumbotron.mt-5.text-center
    = link_to "javascript:void(0);", onclick: "history.back()", class: "back-icon" do
      = icon("fa", "arrow-left")
    %p.lead
      いま決めたノルマをすでにある習慣と結びつけて１つ目の自分ルールを作ります。
      %br
      「すでにある習慣を実行したら、ノルマを行う」という形で作ってみましょう。

    = form_for(:make, url: makes_new_5_path, method: :get) do |f|
      = f.hidden_field :title, value: @title
      = f.hidden_field :norm, value: @norm
      = f.submit "次へ", class: "btn btn-info mt-5"
