.container.makes-new-wrapper
  .jumbotron.mt-5.text-center
    = link_to "javascript:void(0);", onclick: "history.back()", class: "back-icon" do
      = icon("fa", "arrow-left")
    %p.lead
      ２つ目の自分ルールを作成していきます。
      %br
      ノルマを実行していく上で、うまくいかないことがあると思います。
      %br
      あらかじめその対策を考えておくことで、習慣づくりの成功率を上げましょう。

    = form_for(:make, url: makes_situation_input_path, method: :get) do |f|
      = f.hidden_field :title, value: @title
      = f.hidden_field :rule1, value: @rule1
      = f.submit "次へ", class: "btn btn-info mt-5"
