.container
  .card.card-container
    = form_for(@user, url: update_profile_path(params[:id])) do |f|
      = render "shared/error_messages", object: f.object
      = f.text_field :name, class: "form-control placeholder mt-4 mb-4", placeholder: "ユーザー名"

      = f.email_field :email, class: "form-control placeholder mb-4", placeholder: "メールアドレス"

      = f.submit "プロフィールを更新する", class: "btn btn-info btn-block btn-signup mt-4"

.container
  .card.card-container
    = form_for(@user, url: update_password_path(params[:id])) do |f|
      = render "shared/error_messages", object: f.object
      = f.password_field :current_password, class: "form-control placeholder mb-4", placeholder: "現在のパスワード"

      = f.password_field :password, class: "form-control placeholder mb-4", placeholder: "新しいパスワード（６文字以上）"

      = f.password_field :password_confirmation, class: "form-control placeholder", placeholder: "新しいパスワード（確認）"

      = f.submit "パスワードを更新する", class: "btn btn-info btn-block btn-signup mt-4"
