.container.user-edit-wrapper
  .card.card-container
    %ul.nav.nav-tabs.nav-justified.text-center
      %li.active.col-6
        .show.active.select-edit-tab.pb-2{ "data-target" => "#profile-edit", "data-toggle" => "tab"} プロフィール
      %li.col-6
        .select-edit-tab.pb-2{ "data-target" => "#password-edit", "data-toggle" => "tab"} パスワード
    .tab-content.tabs-profile-edit.col-12
      #profile-edit.tab-pane.fade.active.show.in
        = form_for(@user, url: update_profile_path(params[:id])) do |f|
          = render "shared/error_messages", object: f.object
          = f.text_field :name, required: true, maxlength: 50, class: "form-control placeholder mt-5 mb-4", placeholder: "ユーザー名"

          = f.email_field :email, required: true, maxlength: 255, class: "form-control placeholder mb-4", placeholder: "メールアドレス"

          = f.submit "プロフィールを更新する", class: "btn btn-info btn-block btn-signup mt-4"
      #password-edit.tab-pane.fade.col-12
        = form_for(@user, url: update_password_path(params[:id]), html: {id: "user_edit_2"}) do |f|
          = render "shared/error_messages", object: f.object
          = f.password_field :current_password, required: true, class: "form-control placeholder mt-5 mb-4", placeholder: "現在のパスワード"

          = f.password_field :password, required: true, maxlength: 50, class: "form-control placeholder mb-4", placeholder: "新しいパスワード（６文字以上）"

          = f.password_field :password_confirmation, required: true, maxlength: 50, class: "form-control placeholder", placeholder: "新しいパスワード（確認）"

          = f.submit "パスワードを更新する", class: "btn btn-info btn-block btn-signup mt-4"
  = link_to "アカウントを削除する場合はこちらから", delete_page_path(@user), class: "invite-text invite-delete text-center"
