%h1.text-center ユーザー登録（仮）

.container
  = form_for(@user) do |f|
    = render "shared/error_messages", object: f.object
    = f.label :name
    = f.text_field :name, class: "form-control"

    = f.label :email
    = f.email_field :email, class: "form-control"

    = f.label :password
    = f.text_field :password, class: "form-control"

    = f.submit "新規登録", class: "btn btn-primary mt-2"
