%h1.text-center
  マイページ(仮)
%p
  = @user.name
%p
  = @user.email
%p
  = "activated: #{@user.activated}"
%p
  = "admin: #{@user.admin}"

- if @user == current_user && !logged_in_by_twitter?
  = link_to "編集", edit_user_path(@user), class: "btn btn-info"
