.container.user-show-wrapper
  %h1.text-center.my-5
    = "自分ルール一覧"
  .jumbotron.mt-5.mx-auto.p-0
    %ul.nav.nav-tabs
      %li.nav-item
        %a.nav-link.active{"href" => "#tab1", "data-toggle" => "tab"} すべて
      %li.nav-item
        %a.nav-link.border-left.border-right{"href" => "#tab2", "data-toggle" => "tab"} 身につけたい
      %li.nav-item
        %a.nav-link{"href" => "#tab3", "data-toggle" => "tab"} やめたい
    .tab-content
      #tab1.tab-pane.active
        - if @user.habits.empty?
          %p.rule-empty-text
            まだ自分ルールがありません
            %br
            ルール作成は
            = link_to "こちら", habits_select_path
            から
        - else
          - @user.habits.order(created_at: :desc).each do|habit|
            .habit.d-flex.justify-content-around.align-items-center.border-bottom
              = link_to "", habit.type == "Make" ? make_path(habit.hashid) : quit_path(habit.hashid)
              %span.title
                = habit.title
              %span.number
                = "#{habit.progress}%"
      #tab2.tab-pane
        - if @user.makes.empty?
          %p.rule-empty-text
            まだ自分ルールがありません
            %br
            ルール作成は
            = link_to "こちら", makes_new_1_path
            から
        - else
          - @user.makes.order(created_at: :desc).each do|make|
            .habit.d-flex.justify-content-around.align-items-center.border-bottom
              = link_to "", make
              %span.title
                = make.title
              %span.number
                = "#{make.progress}%"
      #tab3.tab-pane
        - if @user.quits.empty?
          %p.rule-empty-text
            まだ自分ルールがありません
            %br
            ルール作成は
            = link_to "こちら", quits_new_1_path
            から
        - else
          - @user.quits.order(created_at: :desc).each do|quit|
            .habit.d-flex.justify-content-around.align-items-center.border-bottom
              = link_to "", quit
              %span.title
                = quit.title
              %span.number
                = "#{quit.progress}%"
