.container.user-show-wrapper
  %h1.text-center.my-5
    = "自分ルール一覧"
  %ul.nav.nav-tabs.d-flex.justify-content-between
    %li.nav-item
      %a.nav-link.active{"href" => "#tab1", "data-toggle" => "tab"} すべて
    %li.nav-item
      %a.nav-link.nav-make{"href" => "#tab2", "data-toggle" => "tab"} 身につけたい習慣
    %li.nav-item
      %a.nav-link.nav-quit{"href" => "#tab3", "data-toggle" => "tab"} やめたい習慣
  .jumbotron.mt-5.mx-auto.p-0
    .tab-content
      #tab1.tab-pane.active
        - if @user.habits.empty?
          %p.rule-empty-text
            まだ自分ルールがありません
            %br
            ルール作成は
            = link_to "こちら", habits_select_path
            から
        - else
          - @user.habits.order(created_at: :desc).each do |habit|
            .habit.d-flex.justify-content-around.align-items-center.border-bottom{ class: "#{habit.type == 'Make' ? 'make' : 'quit'}" }
              = link_to "", habit.type == "Make" ? make_path(habit.hashid) : quit_path(habit.hashid)
              %span.title
                = habit.title
              %span.number
                = "#{habit.progress}%"
      #tab2.tab-pane
        - if @user.makes.empty?
          %p.rule-empty-text
            まだ自分ルールがありません
            %br
            ルール作成は
            = link_to "こちら", makes_new_1_path
            から
        - else
          - @user.makes.order(created_at: :desc).each do|make|
            .habit.make.d-flex.justify-content-around.align-items-center.border-bottom
              = link_to "", make
              %span.title
                = make.title
              %span.number
                = "#{make.progress}%"
      #tab3.tab-pane
        - if @user.quits.empty?
          %p.rule-empty-text
            まだ自分ルールがありません
            %br
            ルール作成は
            = link_to "こちら", quits_title_path
            から
        - else
          - @user.quits.order(created_at: :desc).each do|quit|
            .habit.quit.d-flex.justify-content-around.align-items-center.border-bottom
              = link_to "", quit
              %span.title
                = quit.title
              %span.number
                = "#{quit.progress}%"
  = link_to habits_select_path , class: "fixed-rule-make-btn" do
    %div 作成
    %i.fas.fa-plus
