%header
  %nav.navbar.navbar-expand-md.navbar-light.bg-light.sticky-top
    .container-fluid
      %a.navbar-brand{href: "#{logged_in? ? user_path(current_user) : '/'}"}
        = image_tag "logo.png", size: "170x50"
      %button.navbar-toggler{type: "button", "data-toggle" => "collapse", "data-target" => "#navbarResponsive"}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarResponsive
        %ul.navbar-nav.ml-auto
          - if logged_in?
            %li.nav-item
              = link_to "自分ルールを作成する", habits_select_path, class: "nav-link"
            %li.nav-item
              = link_to "自分ルール一覧", current_user, class: "nav-link"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#navbarDropdown{"href" => "#", "data-toggle" => "dropdown", "role" => "button", "aria-haspopup" => "true", "aria-expanded" => "false"}
                - if current_user.provider == "twitter"
                  - if current_user.avatar?
                    = image_tag current_user.avatar.url, class: "header-avatar"
                  - else
                    = image_tag current_user.image_url, class: "header-avatar"
                - else
                  = image_tag current_user.avatar.url, class: "header-avatar"
                = current_user.name
              .dropdown-menu.dropdown-menu-right{"aria-haspopup" => "true"}
                - if current_user.admin?
                  = link_to "管理ページ", admin_users_path, class: "dropdown-item"
                = link_to "プロフィール編集", edit_user_path(current_user), class: "dropdown-item"
                = link_to "ログアウト", logout_path, method: "delete", class: "dropdown-item"
          - else
            %li.nav-item
              = link_to "新規登録", signup_path, class: "nav-link"
            %li.nav-item
              = link_to "ログイン", login_path, class: "nav-link"
