!!!
%html{lang: "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title MakeHabits
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'https://fonts.googleapis.com/css?family=M+PLUS+1p'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/header'
    - flash.each do |msg_type, msg|
      = content_tag(:div, msg, class: "alert alert-#{msg_type}")
    .page-wrapper
      = yield
    = render 'layouts/footer'
